.navLink {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.125;
  text-decoration: none;
  margin-right: 12px;
}

.navLink:last-of-type {
  margin-right: 0;
}

.homeImage {
  width: 8rem;
  height: 8rem;
}

@media screen and (min-width: 768px) {
  .navLink {
    margin-right: 24px;
  }
}
